<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <nav class="navbar">
    <ul >
        <li><a href="index.html">home</a></li>
        <li><a href="users.html">registered users</a></li>
        <li><a href="login">account login</a></li>
    </ul>
</nav>

      <aside class="app-form">
        <header><h2 class="center">Sign Up For Your Free Trial Account</h2></header>
          <form id="signup" action="/signup" method="POST">
       
            <div class="form-control">
                <label for="username">Please enter your full name</label>
                <input id="username" type="text" name="username" placeholder="first and last name" required value="<%-username%>"/>
            </div>
              <div class="form-control">
                  <label for="email">
                    Please enter your email
                    <span class="warning"><%- emailWarning %></span></label>
                  </label>
                  <input id="email" type="email" name="email" placeholder="user@email.com" required value="<%-email%>"/>
              </div>

              <div class="form-control">
                <label for="password">Enter a secure password</label>
                <input id="password" type="text" name="password" placeholder="password for the account" required value="<%-password%>"/>
            </div>

            <div class="form-control">
             <button type="submit">create account</button>
            </div>
          </form>
      </aside>
</body>
</html>